<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageLoadingAndCaching.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7DB2F1511DEC90660008081C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DB2F16D1DEC90660008081C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DB2F1781DEC90660008081C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
